{% comment %}
  Renders product variant options

  Accepts:
  - product: {Object} product object.
  - option: {Object} current product_option object.
  - block: {Object} block object.
  - picker_type: {String} type of picker to display
{% endcomment %}

{%- liquid
  assign product_form_id = 'product-form-' | append: section.id
-%}

{%- for value in option.values -%}
  {%- liquid
    assign swatch_focal_point = null
    if value.swatch.image
      assign image_url = value.swatch.image | image_url: width: 50
      assign swatch_value = 'url(' | append: image_url | append: ')'
      assign swatch_focal_point = value.swatch.image.presentation.focal_point
    elsif value.swatch.color
      assign swatch_value = 'rgb(' | append: value.swatch.color.rgb | append: ')'
    else
      assign swatch_value = null
    endif

    assign option_disabled = true
    if value.available
      assign option_disabled = false
    endif
  -%}

  {%- capture input_id -%}
    {{ section.id }}-{{ option.position }}-{{ forloop.index0 -}}
  {%- endcapture -%}

  {%- capture input_name -%}
    {{ option.name }}-{{ option.position }}
  {%- endcapture -%}

  {%- capture input_dataset -%}
    data-product-url="{{ value.product_url }}"
    data-option-value-id="{{ value.id }}"
  {%- endcapture -%}

  {%- capture label_unavailable -%}
    <span class="visually-hidden label-unavailable">
      {{- 'products.product.variant_sold_out_or_unavailable' | t -}}
    </span>
  {%- endcapture -%}

  {%- if picker_type == 'swatch' -%}
    {%- capture help_text -%}
      <span class="visually_hidden h5">{{ value | escape }}</span>
      {{ label_unavailable }}
    {%- endcapture -%}

    {%- liquid
      # Link color option to metaobject by handle (e.g. "steen-blue")
      assign color_handle = value | handleize
      assign color_metaobject = shop.metaobjects.color[color_handle]
      assign swatch_obj = value.swatch

      # Prefer the Color metaobject if it has an image
      if color_metaobject and color_metaobject.image
        assign swatch_obj = color_metaobject
      endif
    -%}

    {% if option.name == 'Color' or option.name == 'color' %}
    
 {% assign color_items = product.metafields.custom.product_color_option.value %}
 

{% if color_items != blank %}



  {% for item in color_items %}

    <a href="/products/{{ item.select_product_link }}" class="swatch-item {% if product.handle == item.select_product_link %}active{%endif%}">

      {% if item.image != blank %}
      <div class="swatch-imgbox">
        <img 
          src="{{ item.image | image_url: width: 60 }}" 
          alt="{{ item.title }}"
          class="swatch-img"
        >
      </div>
      {% endif %}

      <span class="swatch-title">{{ item.title }}</span>
      {% assign linked_product = item.link | product %}
    {{ linked_product | url }}

    </a>

  {% endfor %}

{% endif %}


    
    <div class="" style="display:none;">
      {% render 'swatch-input',
        id: input_id,
        name: input_name,
        value: value | escape,
        swatch: swatch_obj,
        product_form_id: product_form_id,
        checked: value.selected,
        visually_disabled: option_disabled,
        shape: block.settings.swatch_shape,
        help_text: help_text,
        additional_props: input_dataset
      %}
      </div>



    {% else %}
      <!-- Size option -->

      {%- assign matching_variant = product.variants | where: "option2", value | first -%}
 <input
      type="radio"
      id="{{ input_id }}"
      name="{{ input_name | escape }}"
      value="{{ value | escape }}"
      form="{{ product_form_id }}"
      {% if value.selected %}checked{% endif %}
      {% if option_disabled %}class="disabled"{% endif %}
      {{ input_dataset }}
    >
    <label class="var-input__label" for="{{ input_id }}"     
    data-text="{{ matching_variant.metafields.custom.pre_order_text | escape }}"     
    >
      {{ value }}
      {{ label_unavailable }}
    </label>

{% endif %}


  {%- elsif picker_type == 'button' -%}
    <input
      type="radio"
      id="{{ input_id }}"
      name="{{ input_name | escape }}"
      value="{{ value | escape }}"
      form="{{ product_form_id }}"
      {% if value.selected %}checked{% endif %}
      {% if option_disabled %}class="disabled"{% endif %}
      {{ input_dataset }}
    >
    <label for="{{ input_id }}">
      {{ value }}
      {{ label_unavailable }}
    </label>

  {%- elsif picker_type == 'dropdown' or picker_type == 'swatch_dropdown' -%}
    <option
      id="{{ input_id }}"
      value="{{ value | escape }}"
      {% if value.selected %}selected="selected"{% endif %}
      {% if swatch_value and picker_type == 'swatch_dropdown' %}
        data-option-swatch-value="{{ swatch_value }}"
        {% if swatch_focal_point %}
          data-option-swatch-focal-point="{{ swatch_focal_point }}"
        {% endif %}
      {% endif %}
      {{ input_dataset }}
    >
      {% if option_disabled -%}
        {{- 'products.product.value_unavailable' | t: option_value: value -}}
      {%- else -%}
        {{- value -}}
      {%- endif %}
    </option>
  {%- endif -%}
{%- endfor -%}
