{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'template-collection.css' | asset_url | stylesheet_tag }}

{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{% endif %}

{%- unless section.settings.quick_add == 'none' -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endunless -%}

{%- if section.settings.quick_add == 'standard' -%}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if section.settings.quick_add == 'bulk' -%}
  <script src="{{ 'quick-add-bulk.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quick-order-list.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<style>
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

</style>

{%- liquid
  assign products_to_display = section.settings.collection.all_products_count

  if section.settings.collection.all_products_count > section.settings.products_to_show
    assign products_to_display = section.settings.products_to_show
    assign more_in_collection = true
  endif
-%}

<div class="color-{{ section.settings.color_scheme }} isolate gradient">
  <div
    class="collection section-{{ section.id }}-padding"
    id="collection-{{ section.id }}"
    data-id="{{ section.id }}"
  >
    <div class="collection__title title-wrapper title-wrapper--no-top-margin page-width {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      {%- if section.settings.title != blank -%}
        <h5 class="title inline-richtext {{ section.settings.heading_size }}">
          {{ section.settings.title }}
        </h5>
      {%- endif -%}
      {%- if section.settings.description != blank -%}
        <div class="collection__description {{ section.settings.description_style }} rte">
          {{ section.settings.description }}
        </div>
      {%- endif -%}
    </div>

    <!-- Swiper Slider -->
    <div class="swiper cerise-swiper featured_swiper {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <div class="swiper-wrapper">
        {% assign skip_card_product_styles = false %}
        {%- if section.settings.collection.products.size > 0 -%}
          {% assign lazy_load = false %}
          {% paginate section.settings.collection.products by section.settings.products_to_show %}
            {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
              {% if lazy_load == false and forloop.index > 4 %}
                {% assign lazy_load = true %}
              {% endif %}
              <div class="swiper-slide">
                {% render 'card-product',
                  card_product: product,
                  media_aspect_ratio: section.settings.image_ratio,
                  image_shape: section.settings.image_shape,
                  lazy_load: lazy_load,
                  show_secondary_image: section.settings.show_secondary_image,
                  show_vendor: section.settings.show_vendor,
                  show_rating: section.settings.show_rating,
                  skip_styles: skip_card_product_styles,
                  section_id: section.id,
                  quick_add: section.settings.quick_add
                %}
              </div>
              {%- assign skip_card_product_styles = true -%}
            {%- endfor -%}
          {% endpaginate %}
        {%- else -%}
          {%- for i in (1..4) -%}
            <div class="swiper-slide">
              {% assign placeholder_image = 'product-apparel-' | append: i %}
              {% render 'card-product',
                show_vendor: section.settings.show_vendor,
                media_aspect_ratio: section.settings.image_ratio,
                image_shape: section.settings.image_shape,
                lazy_load: false,
                placeholder_image: placeholder_image
              %}
            </div>
          {%- endfor -%}
        {%- endif -%}
      </div>

      <!-- Swiper Navigation -->
     <div class="swiper-btn center">
        <div class="swiper-button-prev"><svg width="91" height="19" viewBox="0 0 91 19" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="90.4546" y1="9.4455" x2="14.7623" y2="9.4455" stroke="#F7DAC7"/>
<path d="M1 9.28952L14.9343 1.24456L14.9343 17.3345L1 9.28952Z" stroke="#F7DAC7"/>
</svg>
</div>
        <div class="swiper-button-next">
           <svg width="91" height="19" viewBox="0 0 91 19" fill="none" xmlns="http://www.w3.org/2000/svg">
<line y1="9.1333" x2="75.6924" y2="9.1333" stroke="#F7DAC7"/>
<path d="M89.4546 9.28928L75.5203 17.3342L75.5204 1.24431L89.4546 9.28928Z" stroke="#F7DAC7"/>
</svg>

        </div>
        </div>
    </div>

    {%- if section.settings.show_view_all and more_in_collection -%}
      <div class="center collection__view-all">
        <a
          href="{{ section.settings.collection.url }}"
          class="button"
          aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection.title | escape }}"
        >
          {{ 'sections.featured_collection.view_all' | t }}
        </a>
      </div>
    {%- endif -%}
  </div>
</div>


<script>
document.addEventListener('DOMContentLoaded', function() {  
    new Swiper('.cerise-swiper', {
      slidesPerView: 2,
      spaceBetween: 20,
      allowTouchMove: false,   // 👈 disables dragging
      simulateTouch: false,    // 👈 disables mouse dragging
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev'
      },
      breakpoints: {
        1024: { slidesPerView: 3 },
        768: { slidesPerView: 3 },
        480: { slidesPerView: 1 }
      }
    });
  });
</script>

{% schema %}
{
  "name": "Featured collection 2",
  "tag": "section",
  "class": "section",
  "settings": [
    { "type": "collection", "id": "collection", "label": "Collection" },
    { "type": "range", "id": "products_to_show", "min": 2, "max": 25, "step": 1, "default": 4, "label": "Products to show" },
    { "type": "inline_richtext", "id": "title", "default": "Featured Collection", "label": "Heading" },
    { "type": "richtext", "id": "description", "label": "Description" },
    { "type": "select", "id": "heading_size", "options": [
        { "value": "h2", "label": "H2" },
        { "value": "h1", "label": "H1" }
      ], "default": "h1", "label": "Heading size" },
    { "type": "color_scheme", "id": "color_scheme", "label": "Color scheme", "default": "scheme-1" },
    { "type": "select", "id": "image_ratio", "options": [
        { "value": "adapt", "label": "Adapt" },
        { "value": "square", "label": "Square" }
      ], "default": "adapt", "label": "Image ratio" },
    { "type": "select", "id": "image_shape", "options": [
        { "value": "default", "label": "Default" },
        { "value": "arch", "label": "Arch" },
        { "value": "blob", "label": "Blob" }
      ], "default": "default", "label": "Image shape" },
    { "type": "checkbox", "id": "show_secondary_image", "default": false, "label": "Show secondary image" },
    { "type": "checkbox", "id": "show_vendor", "default": false, "label": "Show vendor" },
    { "type": "checkbox", "id": "show_rating", "default": false, "label": "Show product rating" },
    { "type": "checkbox", "id": "show_view_all", "default": true, "label": "Show 'View all' button" },
    { "type": "range", "id": "padding_top", "min": 0, "max": 100, "step": 4, "unit": "px", "label": "Padding top", "default": 36 },
    { "type": "range", "id": "padding_bottom", "min": 0, "max": 100, "step": 4, "unit": "px", "label": "Padding bottom", "default": 36 }
  ],
  "presets": [
    { "name": "Featured Collection (Swiper)" }
  ]
}
{% endschema %}
